body {
  /* background: rgba(179, 229, 252, 0.7); */
  font-family: "Roboto", sans-serif;
}

.container {
  border: 2px solid black;
  margin: 60px auto;
  border-radius: 20px;
  padding: 45px;
  background-color: rgba(255, 255, 255, 0.85);
  border: none;
  width: 700px;
  box-shadow: -1px 2px 20px 5px rgba(0, 0, 0, 0.6);
  position: relative; /* Ensure it's above the video */
  z-index: 1;
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.8);
  transition: opacity 300ms ease-in-out;
  opacity: 1;
}

.background-video.fade-out {
  opacity: 0.4;
}

form {
  font-size: 60px;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 38px;
}

a {
  color: #3399aa;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  font-weight: bold;
}

a:hover {
  color: #1976d2;
  text-decoration: underline;
}

form input {
  font-size: 18px;
  border-radius: 6px;
  padding: 20px;
  border: none;
  transition: all 200ms ease-in-out;
}

form input:visited {
  border: 1px solid black;
}

.searchcity {
  background-color: #a8c9d9;
  width: 80%;
}
.searchcity::placeholder {
  color: #2c3e50;
}

.submitbutton {
  background-color: #3aaed8;
  border: none;
  color: #ffffff;
}

.submitbutton:hover {
  cursor: pointer;
}

h1 {
  font-size: 44px;
  margin-bottom: 0px;
}

.current-info {
  display: flex;
  justify-content: space-between;
}

.main-emoji {
  position: relative;
  top: 72px;
  right: -10px;
}

.current-temp {
  font-size: 80px;
  font-weight: bolder;
  position: relative;
  top: 48px;
}

sup.temp {
  font-size: 32px;
  font-weight: normal;
  position: relative;
  top: -15px;
  left: -3px;
}

.current-info p {
  color: #757575;
  line-height: 1.5em;
  font-size: 18px;
  margin-top: 14px;
}

.current-info p strong {
  color: #0e7fbc;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding-top: 30px;
  text-align: center;
  font-size: 17px;
  color: #757575;
}

div.temp {
  position: relative;
  top: -24px;
}

.week-forecast {
  display: flex;
  justify-content: space-around;
  margin: 35px 0 20px 0;
}

.weather-forecast-day {
  text-align: center;
  color: #757575;
  line-height: 20px;
  margin-bottom: 8px;
}

.weather-forecast-icon {
  font-size: 38px;
  text-align: center;
}

.weather-forecast-temperatures {
  text-align: center;
  color: #0e7fbc;
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.weather-forecast-temp {
  padding: 0 8px;
}
